.layout {
    /* width: 20%;
    height: 10%; */

    display: grid;
    grid-template-rows: repeat(auto-fit, 2fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.b-blue {
    color: #6c7ff2;
}
